#games-form, #suggestions-form, #team-one, #new-round-button, #halfs-tabs {
	margin-bottom: 20px;
}
.round {
	padding: 0 10px;
	background-color: #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 0 10px;
}

#game-rounds ul {
	list-style: none;
	padding: 0;
}

#game-rounds ul li {
	display: block;
	color: #999999;
}

.btn-link-danger {
	color: #aa0000;
}

.Thuis .panel-body {
	background-color: #e4ffe8
}

.Uit .panel-body {
	background-color: #ffeadc
}


body.scoreboard {
	background: black;
}
body.scoreboard h1 {
	color: #ffffff;
	font-size: 6em;
}
body.scoreboard h2 {
	color: #ffffff;
	font-size: 4em;
}
body.scoreboard h3 {
	color: #ff0000;
	font-size: 2em;
	font-weight: normal;
}
.game-title, .suggestions-titles {
	color: #ffffff;
}

body.scoreboard .team-home {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
}
body.scoreboard .team-away {
	position: absolute;
	bottom: 10%;
	left: 10%;
	right: 10%;
}
body.scoreboard .team-home .progress-information,
body.scoreboard .team-away .progress-information
{
	width: 80%;
	float: left;
}
body.scoreboard .team-home .progress-information .percentage,
body.scoreboard .team-away .progress-information .percentage
{
	font-size: 0.7em;
	color: black;
	padding: 10px;
	background-color: red;
}
body.scoreboard .team-home .time-information,
body.scoreboard .team-away .time-information {
	width: 20%;
	float: right;
	text-align: right;
}
body.scoreboard .progress {
	height: 30px;
}
body.scoreboard .team-away .time-information {
	margin-top: 15px;
}
body.scoreboard .percentage-details {
	position: absolute;
	top: 50%;
	left: 30%;
	height: 200px;
	margin-top: -100px;
	color: #fff;
}
body.scoreboard .central-information {
	position: absolute;
	top: 10%;
	left: 15%;
	right: 15%;
	text-align: center;
}

body.scoreboard .central-information .time {
	margin-top: 5%;
}
body.scoreboard .central-information .points {
	margin-top: 5%;
}
body.scoreboard .bonus {
    left: 20px;
    bottom: 20px;
    position: absolute;
}
body.scoreboard .penalty {
    right: 20px;
    bottom: 20px;
    position: absolute;
}
body.scoreboard .bonus > div,
body.scoreboard .penalty > div {
    opacity: 0.3;
    padding-left: 100px;
    width: 130px;
    height: 130px;
}
body.scoreboard .bonus > div.active,
body.scoreboard .penalty > div.active {
    opacity: 1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

body.scoreboard .bonus .funny,
body.scoreboard .jury-action.funny {
    background: url('/images/funny.png') center center no-repeat;
}
body.scoreboard .bonus .emotions,
body.scoreboard .jury-action.emotions {
    background: url('/images/emotion.png') center center no-repeat;
}
body.scoreboard .bonus .teamwork,
body.scoreboard .jury-action.teamwork {
    background: url('/images/teamwork.png') center center no-repeat;
}
body.scoreboard .bonus .spectacle,
body.scoreboard .jury-action.spectacle {
    background: url('/images/spectacular.png') center center no-repeat;
}
body.scoreboard .bonus .finish,
body.scoreboard .jury-action.finish {
    background: url('/images/finish.png') center center no-repeat;
}
body.scoreboard .penalty .boring,
body.scoreboard .jury-action.boring {
    background: url('/images/boring.png') center center no-repeat;
}
body.scoreboard .penalty .confusing,
body.scoreboard .jury-action.confusing {
    background: url('/images/confusing.png') center center no-repeat;
}
body.scoreboard .penalty .explanation,
body.scoreboard .jury-action.explanation {
    background: url('/images/explanation.png') center center no-repeat;
}
body.scoreboard .penalty .rude,
body.scoreboard .jury-action.rude {
    background: url('/images/rude.png') center center no-repeat;
}
body.scoreboard .penalty .garbage,
body.scoreboard .jury-action.garbage {
    background: url('/images/trash.png') center center no-repeat;
}

body.scoreboard .multiplier {
    background: #ffffff;
    color: #000;
    font-size: 1.2em;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    display: inline-block;

}


.jury-action {
    color: #ffffff;
    margin-top: 1em;
    opacity: 0;
    min-height: 130px;
    min-width: 130px;
    font-size: 3em;
    padding-top: 150px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
.jury-action.active {
    opacity: 1;
}

