html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	font: 12px/18px 'Droid Sans','Arial', sans-serif;
	color: #ffffff;
}

.hidden {
	display: none;
}

.team {
	width: 50%;
	float: left;
	text-align: center;
}
.team .information {
	margin: 50px;
}
.team .information .timer {
	float: left;
	width: 50%;
	font-size: 2em;
	line-height: 1em;
	padding: 30px 0;
}

.team .information .points {
	float: left;
	width: 50%;
	font-size: 2em;
	line-height: 1em;
	padding: 30px 0;
}

.team .information .percentage {
	clear: both;
}

.team h1 {
	font-size: 3em;
	line-height: 1em;
	padding: 15px;
}
.home {

}
