<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8">

	<title>Impro!</title>
	<meta name="description" content="100% impro scoreboard">
	<meta name="author" content="Justus Romijn">
	<!-- <link rel="stylesheet" href="/vendor/jquery-ui.min.css"> -->
	<link rel="stylesheet" href="/vendor/jquery-ui.theme.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/main.css?v=1.0">
	<script src="/vendor/jquery-2.1.1.min.js"></script>
	<script src="/vendor/jquery-ui.min.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
<div class="time-controls">
	<div class="team team-home">
		<div class="start">
			START
		</div>
		<div class="timer time-up">
			<div class="showing">
				<span class="minutes">0</span>:<span class="seconds">00</span>
			</div>
			<div class="editing hidden">
				<input class="minutes-input" type="number" value="" />
				<span>:</span>
				<input class="seconds-input" type="number" value="" />
				<button class="save-timer">Opslaan</button>
			</div>
		</div>
		<h1>THUIS</h1>

	</div>
	<div class="scores">
		<span class="score-home">0</span>
		-
		<span class="score-away">0</span>
	</div>
	<div class="team team-visitor">
		<div class="start">
			START
		</div>
		<div class="timer time-up">
			<div class="showing">
				<span class="minutes">0</span>:<span class="seconds">00</span>
			</div>
			<div class="editing hidden">
				<input class="minutes-input" type="number" value="" />
				<span>:</span>
				<input class="seconds-input" type="number" value="" />
				<button class="save-timer">Opslaan</button>
			</div>
		</div>
		<h1>UIT</h1>
	</div>

</div>
<div class="games">
	<div class="future">
		<h1>Spelvormen</h1>
		<div class="game-list"></div>
		<div class="add">
			<span>+</span>
			<input name="add-game" type="text" value="">
		</div>
	</div>
	<div class="current">
		<h1>Huidige spelvorm</h1>
		<div class="game-list"></div>
	</div>
	<div class="past">
		<h1>Uitgevoerde spelvormen</h1>
		<div class="game-list"></div>
	</div>
</div>
<div class="suggestions">
	<div class="future">
		<h1>Suggesties</h1>
		<div class="suggestions-list"></div>
		<div class="add">
			<span>+</span>
			<input name="add-game" type="text" value="">
		</div>
	</div>
	<div class="current">
		<h1>Huidige suggestie</h1>
		<div class="suggestions-list"></div>
	</div>
	<div class="past">
		<h1>Uitgevoerde suggesties</h1>
		<div class="suggestions-list"></div>
	</div>
</div>
<div class="points">
	<div class="bonuses">
		<div class="bonus">
			<img src="/images/bonus-funny.png" alt="Bonus: grappig" title="Bonus: grappig" />
		</div>
		<div class="bonus">
			<img src="/images/bonus-finish.png" alt="Bonus: finish" title="Bonus: finish"/>
		</div>
		<div class="bonus">
			<img src="/images/bonus-spectacular.png" alt="Bonus: spectaculair" title="Bonus: spectaculair"/>
		</div>
		<div class="bonus">
			<img src="/images/bonus-teamwork.png" alt="Bonus: samenwerking" title="Bonus: samenwerking"/>
		</div>
		<div class="bonus">
			<img src="/images/bonus-emotion.png" alt="Bonus: emoties" title="Bonus: emoties"/>
		</div>
	</div>
	<div class="penalties">
		<div class="penalty">
			<img src="/images/penalty-boring.png" alt="Straf: saai" title="Straf: saai"/>
		</div>
		<div class="penalty">
			<img src="/images/penalty-confusing.png" alt="Straf: verwarrend" title="Straf: verwarrend"/>
		</div>
		<div class="penalty">
			<img src="/images/penalty-explanation.png" alt="Straf: uitleg" title="Straf: uitleg"/>
		</div>
		<div class="penalty">
			<img src="/images/penalty-rude.png" alt="Straf: grof" title="Straf: grof"/>
		</div>
		<div class="penalty">
			<img src="/images/penalty-trash.png" alt="Straf: wegggegooid"/>
		</div>

	</div>
</div>

<script src="/js/control.js"></script>
<script src="/js/control/timer.js"></script>
<script src="/js/control/games.js"></script>
<script src="/js/control/suggestions.js"></script>
</body>
</html>