<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>100% IMPRO</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/impro.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="scoreboard">
	<div class="home-screen">
		<div class="team-home">
			<div class="progress-information">
			<h1><span id="home-label"></span> <span id="home-percentage" class="percentage pull-right"></span></h1>
				<div class="progress">
					<div id="progress-home" class="progress-bar progress-bar-danger progress-bar-striped active"  role="progressbar" aria-valuemin="0" aria-valuemax="100" >
					</div>
				</div>
			</div>
			<div class="time-information">
				<h1 id="home-timeleft"></h1>
			</div>

		</div>
		<div class="percentage-details">
			<h1>100% IMPRO</h1>
		</div>
		<div class="team-away">
			<div class="progress-information">
				<div class="progress">
					<div id="progress-away" class="progress-bar progress-bar-danger progress-bar-striped active"  role="progressbar" aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>
				<h1><span id="away-label"></span> <span id="away-percentage" class="percentage pull-right"></span></h1>
			</div>
			<div class="time-information">
				<h1 id="away-timeleft"></h1>
			</div>


		</div>
	</div>
	<div class="round-screen hidden">
		<div class="central-information">
			<h2 class="team-name"></h2>
			<h3>Spel: <span class="game-title"></span></h3>
			<h3>Suggestie(s): <span class="suggestions-titles"></span></h3>
			<h2 class="time"></h2>
			<h1 class="points"></h1>
			<p class="jury-action"></p>
		</div>
		<div class="bonus">
			<div class="funny"></div>
			<div class="emotions"></div>
			<div class="teamwork"></div>
			<div class="spectacle"></div>
			<div class="finish"></div>
		</div>
		<div class="penalty">
			<div class="boring"></div>
			<div class="confusing"></div>
			<div class="explanation"></div>
			<div class="rude"></div>
			<div class="garbage"></div>
		</div>
	</div>
<script src="js/jquery.1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scoreboard.js"></script>
</body>
</html>